In [11]:
import pandas as pd
import numpy as np

In [16]:
df2021 = pd.read_csv(r"E:\ML Learning\NCKH\Data\Refinitiv_data_hotel_2021.csv")
df2022 =pd.read_csv(r"E:\ML Learning\NCKH\Data\Refinitiv_data_hotel_2022.csv")
df2023 = pd.read_csv(r"E:\ML Learning\NCKH\Data\Refinitiv_data_hotel_2023.csv")

In [32]:
df2021.describe()

,Asset Turnover\n(FY-2),ESG Score\n(FY-2),Environmental Pillar Score\n(FY-2),Social Pillar Score\n(FY-2),Governance Pillar Score\n(FY-2)
count,439.000000,54.000000,54.000000,54.000000,54.000000
mean,0.224465,50.004444,49.120741,48.733704,52.706296
std,0.324781,24.049456,30.663184,26.530386,24.395777
min,-0.020000,5.480000,0.000000,3.730000,5.820000
25%,0.070000,29.670000,27.020000,25.047500,35.902500
50%,0.140000,49.805000,49.550000,52.215000,51.425000
75%,0.270000,69.982500,75.070000,70.202500,71.842500
max,4.440000,90.970000,96.080000,94.910000,94.390000

In [33]:
df2021.head()

,Identifier (RIC),Company Name,"Total Current Assets\n(FY-2, usd)","Revenue\n(FY-2, usd)","Gross Profit\n(FY-2, usd)",Asset Turnover\n(FY-2),"Net Profit Margin, (%)\n(FY-2)","Total Debt to Total Equity, Percent\n(FY-2)",ESG Score\n(FY-2),Environmental Pillar Score\n(FY-2),Social Pillar Score\n(FY-2),Governance Pillar Score\n(FY-2)
0,CCL.N,Carnival Corp,"10,133,000,000.00","1,908,000,000.00","-809,000,000.00",0.04,-498.0%,273.6%,69.78,68.74,58.18,88.11
1,CCL.L,Carnival PLC,"10,133,000,000.00","1,908,000,000.00","-2,155,000,000.00",0.04,-498.0%,273.6%,77.64,80.02,88.74,58.85
2,MGM.N,MGM Resorts International,"6,416,182,000.00","9,680,140,000.00","4,649,531,000.00",0.25,12.1%,213.1%,63.41,86.09,53.66,57.63
3,TNL.N,Travel + Leisure Co,"4,380,000,000.00","3,134,000,000.00","1,537,000,000.00",0.44,10.0%,NaN,62.42,86.74,54.22,52.85
4,MAR.OQ,Marriott International Inc,"3,626,000,000.00","13,857,000,000.00","2,801,000,000.00",0.55,7.9%,717.0%,84.13,82.92,89.92,76.53

In [28]:
list(df2021.columns)

['Identifier (RIC)',
 'Company Name',
 'Total Current Assets\n(FY-2, usd)',
 'Revenue\n(FY-2, usd)',
 'Gross Profit\n(FY-2, usd)',
 'Asset Turnover\n(FY-2)',
 'Net Profit Margin, (%)\n(FY-2)',
 'Total Debt to Total Equity, Percent\n(FY-2)',
 'ESG Score\n(FY-2)',
 'Environmental Pillar Score\n(FY-2)',
 'Social Pillar Score\n(FY-2)',
 'Governance Pillar Score\n(FY-2)']

In [25]:
def random_mean_imputation(df, column, method = "mean", range = 0.1) :

    #defining the option for replacing nulls
    if method == "mean" : 
        core_replace = df[column].mean()
    elif method == "median" : 
        core_replace = df[column].median()
    else :
        raise ValueError("Method must be 'mean' or 'median'")
    #setting the bounds
    min_value = core_replace * (1 - range)
    max_value = core_replace * (1 + range)

      # Apply imputation
    df[column] = df[column].apply(
        lambda x: np.random.uniform(min_value, max_value) if pd.isnull(x) else x)
    return df

In [34]:
#replacing the values
df2021_imputed = random_mean_imputation(df2021, [
 'Total Current Assets\n(FY-2, usd)',
 'Revenue\n(FY-2, usd)',
 'Gross Profit\n(FY-2, usd)',
 'Asset Turnover\n(FY-2)',
 'Net Profit Margin, (%)\n(FY-2)',
 'Total Debt to Total Equity, Percent\n(FY-2)',
 'ESG Score\n(FY-2)',
 'Environmental Pillar Score\n(FY-2)',
 'Social Pillar Score\n(FY-2)',
 'Governance Pillar Score\n(FY-2)'] , method="mean")

TypeError: can only concatenate str (not "int") to str